/* -----------------
    RESET
----------------- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* -----------------
    COMMON
----------------- */
body{
    height: 100vh;
    background: linear-gradient(
    to bottom,
    #009688 20%,
    #d8dbd7 20% 80%
  );
}

.image{
    max-width: 18.75rem;
    padding-left: .3125rem;
}

img{
    max-width: 3.125rem;
    border-radius: 50%;
}

.list{
    width: 6.25rem;
    color: #b1b1b1;
    list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}

/* -----------------
    CONTAINERS
----------------- */
.container{
    height: calc(100vh - 3.125rem);
    width: 80rem;
    border: 1px solid;
    margin: auto;
}

.container-left{
    width: 40%;
    border: 1px solid red;
}

.container-right{
    width: 60%;
    border: 1px solid blue;
}

/* -----------------
    NAVIGAZIONE
----------------- */
.nav-bar{
    background-color: #eaeaea;
    width: 100%;
    padding: .3125rem 0;
}
/* -----------------
    FLEX
----------------- */

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}

/* -----------------
    PADDING
----------------- */

.p-left-10{
    padding-left: .625rem;
}